.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
dist/
build/
*.egg-info/
.eggs/
pip-log.txt
*.log
logs/
*.swp
*~
.idea/
.vscode/
*.manifest
*.spec
.project
.pydevproject
.settings/
*.mo
*.pot
